<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/lukas-hzb/arson/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ZhdFD5Fz8uxxIfe9rMJnfPhlA+X5hkyer9REaFfMYSg=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
